In [19]:
import pandas as pd 
import numpy as np

In [20]:
path_012019 = "Data/JC-201901-citibike-tripdata.csv"
path_022019 = "Data/JC-201902-citibike-tripdata.csv"
path_032019 = "Data/JC-201903-citibike-tripdata.csv"
path_042019 = "Data/JC-201904-citibike-tripdata.csv"
path_052019 = "Data/JC-201905-citibike-tripdata.csv"
path_062019 = "Data/JC-201906-citibike-tripdata.csv"
path_072019 = "Data/JC-201907-citibike-tripdata.csv"
path_082019 = "Data/JC-201908-citibike-tripdata.csv"
path_092019 = "Data/JC-201909-citibike-tripdata.csv"
path_102019 = "Data/JC-201910-citibike-tripdata.csv"
path_112019 = "Data/JC-201911-citibike-tripdata.csv"
path_122019 = "Data/JC-201912-citibike-tripdata.csv"
path_012020 = "Data/JC-202001-citibike-tripdata.csv"
path_022020 = "Data/JC-202002-citibike-tripdata.csv"
path_032020 = "Data/JC-202003-citibike-tripdata.csv"

In [21]:
paths_list= [path_012019, path_022019, path_032019, path_042019, path_052019, path_062019, path_072019, path_082019, path_092019, path_102019, path_112019, path_122019, path_012020, path_022020, path_032020]

In [23]:
combined_df = pd.read_csv(path_012019)
for path in paths_list:
    df = pd.read_csv(path)
    combined_df = combined_df.merge(df, how = "outer")
print(len(combined_df))

471648

In [24]:
combined_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [25]:
combined_df.to_csv("Data/CityBike_data.csv")